<div class="container d-flex justify-content-center flex-column gap-4 pt-5">
    <h3 class="text-center">Choose a category to show its products</h3>
    <select #menu class="form-select mt-2 w-50 m-auto" aria-label="Default select example">
        <option selected disabled hidden>Choose Category</option>
        <option *ngFor="let x of global.dataOnLocalStorage| keyvalue" [value]="x.key">{{x.key}}
        </option>
    </select>
    <button class="btn btn-secondary w-50 m-auto" (click)="handleSelect(menu)">show products</button>
</div>